// Mystery Heading

@mixin stroke {
  -webkit-text-stroke: 0.5px black;
}

@mixin mysteryHeading {
  font-family: "Spicy Rice", cursive;
  color: $orange;
 @include stroke;
  letter-spacing: 0.1em;
  font-size: 2.3em;
  background-color: $green;
  border-radius: 50px;
  padding: 15px;
  text-align: center;
  min-width: 300px;
}

// Resizeable text 

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

// removes bullet points
@mixin noBullet{
  list-style-type: none;
}


@mixin picturePadding{
  padding-left: 20px;
  padding-right: 20px;
}

// Home Page Articles 
@mixin pictureMargin{
  margin-left: 20px;
  margin-right: 20px;
}

@mixin pictureWidth{
  max-width:450px;
}

@mixin quoteWidth{
  max-width: 450px;
}

@mixin article {
  display: flex;
  flex-direction: column;
  @include pictureWidth;
  @include picturePadding;
  @include pictureMargin;
  .quote {
    @include quoteWidth;
  }
}

// Previous Mystery articles 

