@import "variables";
@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap");

// Content on App

html {
  background-color: white;
 margin: auto;
}

.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: white;
}

.person {
  align-content: center;
  @include article;
}

.previous {
  align-content: center;
  @include article;
}

// Mystery Club Logo with resizeable font and different colour letters

.letter-logo {
  background-color: white;
  max-width: auto;
  display: flex;
  justify-content: center;
  .letter {
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
    -webkit-text-stroke: 1px black;
    font-weight: 400;
  }
  .letter1 {
    color: $darkteal;
  }
  .letter2 {
    color: $green;
  }
  .letter3 {
    color: $orange;
  }
}

// navigation bar
.navbar {
  background-color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 4px solid $orange;
  color: $orange;
  max-width: 1000px;
  h1 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .links {
    margin-left: auto;
    color: $green;
  }
  a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    font-size: 1.2em;
    color: $darkteal;
  }
}

// Photo of person

.person-pic {
  max-width: 400px;
}

// photo of previous mystery

.previous-picture {
  max-width: 400px;

}

h1 {
  @include mysteryHeading;
}

p {
  font-size: 1.2em;
}

.flower {
  max-width: 70px;
  max-height: 70px;
  margin-top: 25px;
}
.previous-link {
  margin-bottom: 10px;
}

// Previous Mysteries

.previous-mysteries {
  display: flex;
  margin-left: 4%;
  align-items: center;
  flex-wrap: wrap;
  height: 250px;
  h2 {
    min-height: 60px;
  }
}

.mystery-preview {
  max-width: 300px;
  min-height: 500px;
  margin: 20px;
  padding: 20px;
  .mystery-image {
    width: 2500px;
    height: 300px;
    align-items: center;
    justify-content: center;
  } &:hover{
    @keyframes createBox {
      from {
        transform: scale(0);
      }
      to {
        transform: scale(1);
      }
    }
  }
}

.mystery-text {
  height: 160px;
  align-items: center;
  .mystery-location{
    font-size: 1.6em;
    font-weight: bold;
    color: $darkteal;
    text-align: left;
    }
  }

.mystery-title {
  @include mysteryHeading;
  background-color: $darkteal;
}

.previous-flower{
  display: flex;
  justify-content: center;
}

.suggest-content{
  display: flex;
  align-items: center;
  justify-content: center;
}

