$hotPink: #e42491;
$green: #BCD04D;
$orange: #F6AD64;
$darkteal: #11ADC4;
$lightteal: #67C1C1;
$black: #000000;

// resizeable font variables for logo
$min_width: 320px;
$max_width: 1200px;
$min_font: 50px;
$max_font: 150px;

